name: "Forward port missing"

# This workflow checks whether there exists a forward port for the slices and
# applies the `forward port missing` label if necessary.

on:
  schedule:
    # Run ever hour
    # Ref: https://man7.org/linux/man-pages/man5/crontab.5.html
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  check-forward-port:
    name: "Check for forward port"
    runs-on: ubuntu-latest
    env:
      script: ".github/scripts/forward-port-missing"
  
    # we need write permissions to be able to add labels
    permissions:
      pull-requests: write

    steps:
      - uses: actions/checkout@v6
        with: { fetch-depth: 0 }
      
      - name: Setup Python
        uses: actions/setup-python@v6
        with: { python-version: '3.12' }

      - name: Install dependencies
        run: |
          pip install -r "${{ env.script }}/requirements.txt"
          sudo apt-get update && sudo apt-get install -y distro-info jq
      
      - name: Gather data about PRs and slices
        env:
          # we authenticate ourselves with the actions token to avoid hitting the unauthenticated rate limit
          GITHUB_TOKEN: ${{ github.token }}
        run: ${{ env.script }}/chisel_releases_data.py --jobs=-1 1> data.json

      - name: Check forward porting status
        run: ${{ env.script }}/forward_port_missing.py data.json | jq > results.json
      
      - name: Upload results
        uses: actions/upload-artifact@v6
        with: { name: forward-port-missing-results, path: results.json }

      - name: Apply labels
        env:
          # we need the token to edit labels
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          ln -s "${{ env.script }}/apply_pr_labels.sh" .
          ./apply_pr_labels.sh results.json
