name: "Forward port missing"

# This workflow checks whether there exists a forward port for the slices and
# applies the `forward port missing` label if necessary.

on:
  schedule:
    # Run ever hour
    # Ref: https://man7.org/linux/man-pages/man5/crontab.5.html
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  check-forward-port:
    name: "Check for forward port"
    runs-on: ubuntu-latest
    env:
      main: "chisel-releases-main"
      src_dir: ".github/scripts/forward-port-missing"
      # set the GitHub token to allow the script to add labels to the PR with the `gh` CLI
      GH_TOKEN: ${{ github.token }} 
  
    # we need write permissions to be able to add labels
    permissions:
      pull-requests: write

    steps:
      - uses: actions/checkout@v4
        with: { fetch-depth: 0 }
      
      - name: Setup Python
        uses: actions/setup-python@v5
        with: { python-version: '3.12' }

      - name: Determine main branch reference
        id: main-ref
        run: |
          if [[ "${{ github.base_ref }}" == "main" ]]; then
            # For PRs to main, use the updated files.
            # Leaving checkout_main_ref unset will checkout the PR head_ref.
            echo "ref=" >> $GITHUB_OUTPUT
          else
            echo "ref=main" >> $GITHUB_OUTPUT
          fi

      - name: Checkout main branch scripts
        uses: actions/checkout@v6
        with:
          ref: ${{ steps.main-ref.outputs.ref }}
          path: ${{ env.main }}
      
      - name: Install jq
        run: sudo apt-get update && sudo apt-get install -y jq
      
      #== DOWNLOAD DATA ========================================================
      
      # chisel-releases-data is, for now, a private repository. to use the download action
      # we need to check out the repository with a token that has access to it
      # https://github.com/actions/checkout/tree/v6/?tab=readme-ov-file#fetch-only-a-single-file
      - name: Checkout the chisel-releases-data action
        uses: actions/checkout@v6
        with:
          repository: canonical/chisel-releases-data
          ref: v2
          path: chisel-releases-data
          token: ${{ secrets.CHISEL_RELEASES_DATA_TOKEN }}
          sparse-checkout: download/action.yaml
          sparse-checkout-cone-mode: false
      
      - name: Download latest index.db.br
        uses: ./chisel-releases-data/download
        # uses: canonical/chisel-releases-data/download@v2
        with:
          artifact_names: |
            - chisel-releases-data
            - chisel-releases-data-wheel
          output_path: data
          token: ${{ secrets.CHISEL_RELEASES_DATA_TOKEN }}
      
      - name: Install chisel-releases-data wheel
        run: pip install data/*.whl
      
      #== CHECK FORWARD PORTS ==================================================

      - name: Check forward porting status
        run: |
          ln -s "${{ env.main }}/${{ env.src_dir }}/forward_port_missing.py" .
          ./forward_port_missing.py data/chisel-releases-data.db.br | jq | tee results.json
      
      - name: Upload results
        uses: actions/upload-artifact@v6
        with:
          name: forward-port-missing-results
          path: results.json

      - name: "Apply labels"
        env:
          # NOTE: we use the ROCKSBOT_PR_TOKEN to apply the labels
          GH_TOKEN: ${{ secrets.ROCKSBOT_PR_TOKEN }}
        run: |
          ln -s "${{ env.main }}/${{ env.src_dir }}/apply_pr_labels.sh" .
          ./apply_pr_labels.sh results.json
