name: "Forward port missing"

# This workflow checks whether there exists a forward port for the slices and
# applies the `forward port missing` label if necessary.

on:
  schedule:
    # Run at 1 min past every hour
    # Ref: https://man7.org/linux/man-pages/man5/crontab.5.html
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  check-forward-port:
    name: "Check for forward port"
    runs-on: ubuntu-latest
    env:
      files_main: "main-files"
      src_dir: ".github/scripts/forward-port-missing"
      # set the GitHub token to allow the script to add labels to the PR with
      # the `gh` CLI
      GH_TOKEN: ${{ github.token }} 
  
    # we need write permissions to be able to add labels
    permissions:
      pull-requests: write

    steps:

      #== ENV ==================================================================

      - name: "Determine run mode"
        id: determine-run-mode
        run: |
          if [[ "${{ github.event_name }}" == "schedule" || "${{ github.event_name }}" == "workflow_dispatch" ]]; then
            echo "run_forward_port_missing=true" >> $GITHUB_OUTPUT
            echo "run_apply_labels=true" >> $GITHUB_OUTPUT
          else
            echo "run_forward_port_missing=false" >> $GITHUB_OUTPUT
            echo "run_apply_labels=false" >> $GITHUB_OUTPUT
          fi
      
      #== SETUP ================================================================

      - uses: actions/checkout@v4
        with: { fetch-depth: 0 }
      
      - name: Setup Python
        uses: actions/setup-python@v5
        with: { python-version: '3.10' }

      - name: "Set reference to main branch"
        id: set-main-ref
        run: |
          if [[ "${{ github.base_ref }}" == "main" ]]; then
            # For PRs to main, use the updated files.
            # Leaving checkout_main_ref unset will checkout the PR head_ref.
            echo "ref_main=" >> $GITHUB_OUTPUT
          else
            echo "ref_main=main" >> $GITHUB_OUTPUT
          fi

      - name: "Checkout main branch"
        uses: actions/checkout@v4
        with:
          ref: ${{ steps.set-main-ref.outputs.ref_main }}
          path: ${{ env.files_main }}
      
      - name: "Install dependencies"
        run: |
          pip install -r "${{ env.files_main }}/${{ env.src_dir }}/requirements.txt"
          sudo apt-get update && sudo apt-get install -y distro-info jq
      
      #== MAIN =================================================================

      - name: "Gather data"
        env:
          CHISEL_RELEASES_URL: https://github.com/canonical/chisel-releases
        run: |
          ln -s "${{ env.files_main }}/${{ env.src_dir }}/chisel_releases_data.py" .
          ./chisel_releases_data.py --jobs=-1 1> data.json

      - name: "Check for forward port"
        if: steps.determine-run-mode.outputs.run_forward_port_missing == 'true'
        run: |
          ln -s "${{ env.files_main }}/${{ env.src_dir }}/forward_port_missing.py" .
          ./forward_port_missing.py data.json | jq | tee results.json

      - name: "Apply labels"
        if: steps.determine-run-mode.outputs.run_apply_labels == 'true'
        env:
          # NOTE: we use the ROCKSBOT_PR_TOKEN to apply the labels
          GH_TOKEN: ${{ secrets.ROCKSBOT_PR_TOKEN }}
        run: |
          ln -s "${{ env.files_main }}/${{ env.src_dir }}/apply_pr_labels.sh" .
          ./apply_pr_labels.sh results.json
